:root {
    --text-decoration-color: #4D5AE5;
    --text-title-color: #2E2F42;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    background-color: var(--white-color);
    color: #434455;
    width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px;
}

.container-header {
    display: flex;
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc
}

.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

/*navigation menu*/

.navigation {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-decoration-color);
    margin-right: 76px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;

}

.fraction-logo {
    color: var(--text-title-color);
}

.navigation-menu {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-right: 332px;
}

.navigation-list {
    padding: 24px 0;
}

.stud {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.stud:hover,
.stud:focus {
    color: #404bbf;
}

/*contacts*/

.contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        gap: 40px;
}

.list contacts {
}

.contacts-mail {
    padding-right: 40px;
}

.contacts-tel {}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/*hero image*/

.hero-section {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    padding: 188px 472px 48px;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    background: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        cursor: pointer;
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        margin-left: 635px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-button-text {}

/*description*/

.description {
    width: 1128px;
    flex-shrink: 0;
    margin-left: 156px;
    margin-right: 156px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.description-title {}

.one-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.strategy-list {
    padding-right: 24px;
}

.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.strategy-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*presentation section*/

.presentation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-title-color);
}

.presentation-list {}

/*Team*/

.team {
    background: #F4F4FD;
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-title-color);
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-names {
    background-color: #FFFFFF;
    display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

}
.one-name-photo {
 
}

.one-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.one-name-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.two-name-photo {

}

.three-name-photo {}

.four-name-photo {}

/*Portfolio*/

.portfolio {
    Width: 1128px;
    Height: 1000px;
    Top: 1868px;
    Left: 156px;
    Border: 1px;
    margin: 120px 156px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 2%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    

}

.list-our {
    display: flex;
        width: 360px;
        height: 420px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;

}

.interface-concept {}

.title-concept {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.list-portfolio {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.payment {}

.meditation {}

.taxi {}

.screen {}

.courses {}


/*Footer*/

.footer {
    background: #2E2F42;
    width: 1440px;
        height: 312px;
        flex-shrink: 0;
        padding: 100px 1020px 100px 156px;
}

.container-footer {
    width: 1440px;

}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 17.5px;
}

.fraction-footer {
    color: #f4f4fd;
}

.footer-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    Width: 264px;
     Height: 72px;
     Top: 3128px;
     Left: 156px;
}